* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1115px;
  margin: 0 auto;
}

.home {
  padding: 319px 0 335px;
  background: url(".././images/home/Rectangle.png") center/cover no-repeat;
}
.home__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
}
.home__subtitle {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}
.home__button {
  display: block;
  background: #4985FF;
  -webkit-box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  width: 200px;
  height: 45px;
  border: none;
  margin: 50px auto 0;
  cursor: pointer;
  color: white;
}

.header {
  position: absolute;
  border-bottom: 1px solid #A1A1A1;
  width: 100%;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0 20px;
  cursor: pointer;
  padding: 40px 0;
}
.header__item:hover {
  border-bottom: 2px solid white;
}

.services {
  padding: 110px 0 105px;
}
.services__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}
.services__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin-top: 50px;
}
.services__box {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
}
.services__box-image {
  -o-object-fit: contain;
     object-fit: contain;
}
.services__box-block {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #4985FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
.services__box-block:before {
  position: absolute;
  content: "";
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.services__box-content {
  margin-left: 27px;
}
.services__box-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 40px;
}
.services__box-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  margin-top: 12px;
}
.services__button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin: 68px auto 0;
  border: none;
  cursor: pointer;
  display: block;
}

.about {
  padding: 152px 0 70px;
}
.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
}
.about__box-textBox {
  width: 490px;
  padding-bottom: 90px;
}
.about__box-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-top: 70px;
}
.about__box-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-top: 40px;
}
.about__box-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4985FF;
  margin-top: 30px;
  text-decoration: underline;
}
.about__flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__flexBox-item {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.about__flexBox-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__flexBox-title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 53px;
  color: black;
  margin-left: -36px;
  margin-bottom: -5px;
}
.about__flexBox-image {
  -o-object-fit: contain;
     object-fit: contain;
}
.about__flexBox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.all-services {
  padding: 100px 0 85px;
  position: relative;
}
.all-services__background {
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.all-services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.all-services__box-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
}
.all-services__box-button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.all-services__flexBox {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 85px;
  border-bottom: 1px solid #E0E0E0;
}
.all-services__flexBox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 350px;
}
.all-services__flexBox-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-top: 30px;
}
.all-services__flexBox-title--number {
  color: #4985FF;
}
.all-services__flexBox-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-top: 30px;
}
.all-services__flexBox-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
  margin-top: 30px;
}

.all-project {
  padding-top: 30px;
}
.all-project__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  padding-bottom: 35px;
}
.all-project__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin-bottom: 30px;
}

.all-project__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.all-project__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 30px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  margin: 30px auto 0;
  cursor: pointer;
  background: #4985FF;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}

.footer {
  padding: 70px 0 30px;
  background: #F6F6F8;
  border-bottom: 1px solid #A1A1A1;
}
.footer__row-title {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 22px;
  color: #000000;
}
.footer__row-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  margin-top: 30px;
}
.footer__row-img {
  margin: 10px;
}
.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}

.video {
  padding: 70px 0 85px;
  position: relative;
}
.video__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
}
.video__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
}
.video__box {
  margin: 70px auto 0;
  width: 75%;
  height: 430px;
  background: url("../images/video/background-mini.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video__box-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: 20px;
}
.video__box-player {
  padding: 20px 40px;
  border: 1px #FFFFFF;
  border-radius: 200px;
  width: 300px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.video__background {
  background: url("../images/video/background.png") center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 570px;
  z-index: -1;
}
.video__line {
  margin-top: 85px;
}

.subscribe {
  padding: 85px 0;
}
.subscribe__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.subscribe__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin-top: 20px;
}
.subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__input-inp {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  border-radius: 20px;
  width: 200px;
  height: 30px;
}
.subscribe__input-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: #4985FF;
  border-radius: 30px;
  width: 110px;
  height: 30px;
  margin-right: 50px;
}
.subscribe__input-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header .burger-menu {
    width: 30px;
    height: 3px;
    background: #ffffff;
    position: absolute;
    top: 50px;
    right: 50px;
  }
  .header .burger-menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    right: 0;
    top: -10px;
  }
  .header .burger-menu:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    right: 0;
    top: 10px;
  }
  .header .burger-menu:after .active {
    background: transparent;
  }
  .header .burger-menu:after .active:before {
    -webkit-transform: rotate(45deg) translate(13px, 0px);
            transform: rotate(45deg) translate(13px, 0px);
  }
  .header .burger-menu:after .active:before:after {
    -webkit-transform: rotate(45deg) translate(15px, 0px);
            transform: rotate(45deg) translate(15px, 0px);
  }
  .header .home {
    padding: 80px 0 40px;
    height: 100vh;
  }
  .header .home__subtitle {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */