.home{
  padding: 319px 0 335px;
  background: url('.././images/home/Rectangle.png') center/cover no-repeat;
  &__title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: white;
  }
  &__subtitle{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
  }
  &__button{
    display: block;
    background: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    width: 200px;
    height: 45px;
    border: none;
    margin: 50px auto 0;
    cursor: pointer;
    color: white;

  }
}