*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.container{
  width: 1115px;
  margin: 0 auto;
}
@mixin  blueButton{
  width: 200px;
  height: 45px;
  left: 860px;
  top: 1453px;
  background: #4985FF;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

}
@import "./home";
@import "./header";
@import "./services";
@import "./about__us";
@import "./all-services";
@import "./all-project";
@import "Footer";
@import "video";
@import "subcribe";
@import "media";