.video{
  padding: 70px 0 85px;
  position: relative;
  &__title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
  }
  &__description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
  }
  &__box{
    margin: 70px auto 0;
    width: 75%;
    height: 430px;
    background: url("../images/video/background-mini.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    &-imgage{}
    &-text{
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      color: #FFFFFF;
      margin-left: 20px;
    }
    &-player{
      padding: 20px 40px;
      border: 1px #FFFFFF;
      border-radius: 200px;
      width: 300px;
      cursor: pointer;
      border: 1px solid #FFFFFF;
      border-radius: 200px;
      box-sizing: border-box;
    }
  }
  &__background{
    background: url("../images/video/background.png") center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 570px;
    z-index: -1;
  }
  &__line{
    margin-top: 85px;
  }
}